
# Jekyll specific
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
.bundle/

# Ruby specific
Gemfile.lock

# IDE specific
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes
ehthumbs.db
Desktop.ini
